<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="./main.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Checkout</title>
</head>
<body>
    <div id="app" class="app">
        <nav class="navbar">
            <div class="container-fluid navbar-text-center">
                <span class="mb-0 h1 navbar-text-center">Checkout Generator</span>
                <div class="row float-end">
                    <div class="col">
                        <label class="row" for="component">Country Code</label>
                        <div class="row justify-content-center">
                            <div class="col flag">
                                <img :src="'https://ca-test.adyen.com/ca/adl/img/flags/' + overallRequest.countryCode.toLowerCase() + '.svg'" alt="Flag icon">
                            </div>
                            <div class="col country-select">
                                <select v-model="overallRequest.countryCode" class="form-select" aria-label="country" autocomplete="off">
                                    <option v-for="country in countryList" :value=country>{{ country }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="component">Currency</label>
                            <div class="col">
                                <select v-model="overallRequest.amount.currency" class="form-select currency-select" aria-label="currency" autocomplete="off">
                                    <option v-for="currency in currencyList" :value=currency>{{ currency }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-4" class="success-bg-subtle">
            <div class="row">
                <div class="col">
                    <div class="setting">
                        <label class="row" for="component">Component/Drop-in - {{ capFirstLetterComponent }}</label>
                        <select v-model="component" @change="resetComponentConfigs()" class="row form-select" aria-label="component select">
                            <option selected>dropin</option>
                            <option v-for="comp in componentForList" :value=comp>{{ comp }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="setting">
                        <label class="row" for="flow">Flow</label>
                        <div class="btn-group">
                            <input @click="() => {flow = 'advanced'; createComponent(); resetMainEvents()}" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-light" for="btnradio1">Advanced</label>
                            <input @click="() => {flow = 'sessions'; createComponent(); resetMainEvents()}" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-light" for="btnradio2">Sessions</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="setting">
                        <label class="row" for="apiversion">API Version</label>
                        <select class="row form-select" aria-label="api version select" v-model="apiVersion">
                            <option selected>{{ apiVersionList[0] }}</option>
                            <option v-for="vers in apiVersionForList" :value=vers>{{ vers }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="setting">
                        <label class="row" for="sdkversion">SDK Version</label>
                        <select class="row form-select" aria-label="sdk version select" v-model="sdkVersion">
                            <option selected>{{ sdkVersionList[0] }}</option>
                            <option v-for="vers in sdkVersionForList" :value=vers>{{ vers }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center justify-content-evenly mt-4">
            <div class="row">
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            {{ capFirstLetterComponent }} events
                        </button>
                        <ul class="dropdown-menu">
                            <li><a  v-for="event in componentEvents" class="dropdown-item" :class="event" @click="e => componentEventChange(e, event)" :id="event">{{ event }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            {{ capFirstLetterComponent }} configurations
                        </button>
                        <ul class="dropdown-menu">
                            <li><a  v-for="config in componentConfigurations" class="dropdown-item" :class="config" @click="e => componentConfigurationChange(e, config)" :id="config">{{ config }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Main events
                        </button>
                        <ul class="dropdown-menu">
                            <li><a  v-for="event in mainEventList" class="dropdown-item main-config-list" :class="(flow === 'advanced' && (event === 'onSubmit' || event === 'onAdditionalDetails' || event === 'onChange')) ? 'disabled' : (flow === 'sessions' && (event === 'beforeSubmit' || event === 'onPaymentCompleted' || event === 'onChange')) ? 'disabled' : ''" @click="e => mainEventChange(e, event)" :id="event">{{ event }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-1">
            <div class="row justify-content-center">
                <div class="col-6 d-grid">
                    <button type="button" @click="createComponent" class="btn btn-outline-success btn-lg">Generate {{ component }}</button>
                </div>
            </div>
        </div>
        <div class="container  mt-5">
            <div class="row">
                <div class="col-6 code">
                    <h6 class="display-6"><u>Configuration</u></h6>
                    <pre class="configuration">
                        <code id="configuration">
                        </code>
                    </pre>
                </div>
                <div class="col-6">
                    <div id="componentDiv" class="component-dropin">
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-2 px-4">
            <div class="row gx-5">
                <div class="col-6 request-box">
                    <div class="d-flex">
                        <h1 class="display-6 me-2">
                            <u>Request</u>
                        </h1>
                        <span class="align-self-center">to {{ currentEndpoint }} endpoint</span>
                        <button class="ms-auto p-2 btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Change</button>
                    </div>
                    <pre id="request" class="request"></pre>
                </div>
                <div class="col-6 response-box">
                    <h1 class="display-6"><u>Response</u></h1>
                    <pre id="response" class="response"></pre>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Change request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" @click="resizeInputs()"></button>
            </div>
            <div class="offcanvas-body">
                <div class="params-list">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Additional Parameters
                    </button>
                    <ul class="dropdown-menu">
                        <li><a  v-for="(value, param) in additionalParams" class="dropdown-item" :class="param" @click="e => changeRequestParams(e, param)" :id="param">{{ param }}: {{ value }}</a></li>
                    </ul>
                </div>
                <p>{</p>
                <div class="indent-one">
                    <p v-for="(valueA, keyA) in requestSansVersion">{{ keyA }}:  
                        <template v-if="Array.isArray(valueA)">
                            <template v-for="(item, index) in valueA">
                                <template v-if="typeof item == 'string'"><input type="text" class="request-input" :value="overallRequest[keyA][index]" v-model="overallRequest[keyA][index]" @input="requestUpdate()"></template>
                                <template v-else-if="typeof item == 'boolean'"><input type="checkbox" class="request-input" v-model="overallRequest[keyA][index]" @change="requestUpdate()"></template>
                                <template v-else-if="typeof item == 'number'"><input type="number" class="request-input" :value="overallRequest[keyA][index]" v-model="overallRequest[keyA][index]" @input="requestUpdate()"></template>
                                <template v-else-if="typeof item == 'object'">
                                    <span>{</span>
                                    <div class="indent-two">
                                        <template v-for="(valueItem, keyItem) in item">
                                            <p class="line-height">
                                                {{ keyItem }}: 
                                                <template v-if="typeof valueItem == 'string'"><input type="text" class="request-input" :value="valueItem" v-model="overallRequest[keyA][index][keyItem]" @input="() => {requestUpdate();console.log(valueItem);}"></template>
                                                <template v-else-if="typeof valueItem == 'boolean'"><input type="checkbox" class="request-input" v-model="overallRequest[keyA][index][keyItem]" @change="requestUpdate()"></template>
                                                <template v-else-if="typeof valueItem == 'number'"><input type="number" class="request-input" :value="valueItem" v-model="overallRequest[keyA][index][keyItem]" @input="requestUpdate()"></template>
                                            </p>
                                        </template>
                                    </div>
                                    <p>},</p>
                                </template>
                            </template>
                        </template>
                        <template v-else-if="typeof valueA == 'object'">
                            <span>{</span>
                            <div class="indent-two">
                                <template v-for="(valueB, keyB) in valueA">
                                    <p class="line-height">
                                        {{ keyB }}: 
                                        <template v-if="typeof valueB == 'string'"><input type="text" class="request-input" :value="valueB" v-model="overallRequest[keyA][keyB]" @input="requestUpdate()"></template>
                                        <template v-else-if="typeof valueB == 'boolean'"><input type="checkbox" class="request-input" v-model="overallRequest[keyA][keyB]" @change="requestUpdate()"></template>
                                        <template v-else-if="typeof valueB == 'number'"><input type="number" class="request-input" :value="valueB" v-model="overallRequest[keyA][keyB]" @input="requestUpdate()"></template>
                                    </p>
                                </template>
                            </div>
                            <p>},</p>
                        </template>
                        <template v-else>
                            <template v-if="typeof valueA == 'string'"><input type="text" class="request-input" :value="valueA" v-model="overallRequest[keyA]" @input="requestUpdate()"></template>
                            <template v-else-if="typeof valueA == 'boolean'"><input type="checkbox" class="form-check-input request-input" :id="valueA" v-model="overallRequest[keyA]" @change="requestUpdate()"><label :for="valueA">{{ valueA }}</label></template>
                            <template v-else-if="typeof valueA == 'number'"><input type="number" class="request-input" :value="valueA" v-model="overallRequest[keyA]" @input="requestUpdate()"></template>
                        </template>
                    </p>
                </div>
                <p>}</p>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="./lists.js"></script>
<script src="./configs.js"></script>
<script src="./configStrings.js"></script>
<script src="./requests.js"></script>
<script src="./utils.js"></script>
<script src="./index.js"></script>
</html>