@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Heebo:wght@500&family=Roboto&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.adyen-logo {
    position: absolute;
    top: 10px;
    max-width: 110px;
}

html {
    position: fixed;
    height: 100svh;
    overflow: hidden;
}
  
body {
    font-family: sans-serif;
    margin: 0;
    width: 100vw; 
    height: 100svh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body, .app {
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.h1 {
    position: absolute;
    left:  calc(45vw - 125px);
    top: calc(30px - 1vw);
    text-decoration: none;
    color: #37003e !important;
    opacity: 1;
    animation: fadeIn 3s;
    font-family: 'Heebo', sans-serif;
    font-size: calc(1vw + 30px) !important;
    text-shadow: 0px 0px 1px rgb(255, 227, 43);
}

.h2 {
    text-align: center;
    text-decoration: none;
    color: #051c0e !important;
    opacity: 1;
    animation: fadeIn 1s;
    font-family: 'Heebo', sans-serif;
    font-size: calc(1.8vw + 10px) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

li, option, select {
    cursor: pointer;
}

.navbar {
    background-color: white;
    box-shadow: 0 8px 8px rgba(0,17,44,.04),0 2px 4px rgba(0,17,44,.08);
}

.flag {
    position: relative;
    top: 29px;
    left: 45px;
    max-width: 30px;
    min-width: 30px;
}

.navbar-select {
    max-width: 110px;
    min-width: 110px;
}

.currency-select {
    max-width: 100px;
}

.app {
    background-color: #fff;
    min-height: 100dvh;
}

.component-dropin {
    line-height: normal;
}

.adyen-checkout__card__brands {
    line-height: 0.87 !important;
}

.code {
    border-radius: 7px;
    color: white;
    background-color: #00112c;
}

.copy-icon {
    max-width: 35px;
    max-height: 35px;
    filter: invert(100%);
}

.copy-icon-request {
    max-width: 35px;
    max-height: 35px;
    filter: invert(0%);
}

.r-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    border-color: #154a29;
    min-height: 30svh;
}

.request-box {
    border-radius: 5px 0px 0px 5px;
}

.response-box {
    border-radius: 0px 5px 5px 0px;
}

.offcanvas {
    min-width: 49svw;
}

.indent-one {
    text-indent: 50px;
}

.indent-two {
    text-indent: 100px;
}

.indent-three {
    text-indent: 150px;
}

input {
    text-align: center;
}

.request-input {
    border-radius: 5px;
    border: 1px solid rgba(127, 101, 101, 0.253);
    font-family: Arial, sans-serif;
}

.btn-successor {
    max-height: 40px;
    font-weight: 700 !important;
    --bs-btn-color: #0bc053;
    border: 1px solid #0bc053 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0bc053;
    --bs-btn-hover-border-color: #0bc053;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0bc053;
    --bs-btn-active-border-color: #0bc053;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0bc053;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0bc053;
    --bs-gradient: none;
}

.btn-a {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-successor-a {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0bc053;
    --bs-btn-border-color: #0bc053;
    --bs-btn-hover-color: #fff;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0bc053;
    --bs-btn-active-border-color: #0bc053;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0bc053;
    --bs-btn-disabled-border-color: #0bc053;
}

.btn-successor-a:hover {
    --bs-btn-color: #fff;
    --bs-btn-bg: #27c566;
    --bs-btn-border-color: #27c566;
    --bs-btn-hover-color: #fff;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #27c566;
    --bs-btn-active-border-color: #27c566;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #27c566;
    --bs-btn-disabled-border-color: #27c566;
}

.line-height {
    line-height: 150%;
    margin-bottom: 0px;
}

.dropdown-item {
    max-width: 30svw;
    overflow: scroll;
}

.adyen-checkout__status {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    margin: 0;
    padding: 32px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d4d9db;
    font-size: 1em;
    color: #00112c;
}

.adyen-checkout__status__icon {
    margin-bottom: 24px;
    opacity: 1;
    transition: opacity .6s ease-out;
}

.t-tip__content.show {
    opacity:1;
    transition: 1s;
    -webkit-transition: 0.2s;
     transition: 0.2s;
 }
 
 .t-tip__content {
     padding-left: 50px;
     right:-55px;
     top:-4px;
     background: #616161;
     border-radius: 2px;
     -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
     color: #fff;
     display: inline-block;
     font-size: 12px;
     padding: 5px 8px;
     position: absolute;
     -webkit-transition: 0.2s;
     transition: 0.2s;
     width: auto;
     opacity:0;
 }

.container {
    max-width: 1720px !important;
}

@media (max-width: 507px) {

    .flag {
        position: absolute;
        top: 113px;
        left: 15px;
        max-width: 30px;
        min-width: 30px;
    }
}