@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Heebo:wght@500&family=Roboto&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.adyen-logo {
    max-width: 130px;
}

html {
    position: fixed;
    height: 100%;
    overflow: hidden;
}
  
body {
    font-family: sans-serif;
    margin: 0;
    width: 100vw; 
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body, .app {
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Geologica', sans-serif;
}

.h1 {
    text-align: center;
    color: #051c0e !important;
    opacity: 1;
    animation: fadeIn 1s;
    font-family: 'Heebo', sans-serif;
    font-size: 4rem !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

li, option, select {
    cursor: pointer;
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 11px -7px #236d3f;
}

.flag {
    position: relative;
    top: 29px;
    left: 45px;
    max-width: 30px;
    min-width: 30px;
}

.navbar-select {
    max-width: 110px;
    min-width: 110px;
}

.currency-select {
    max-width: 100px;
}

.app {
    background-color: #f2f6f8;
    min-height: 100dvh;
}

.code {
    border-radius: 7px;
    color: white;
    background-color: #00112c;
}

.copy-icon {
    max-width: 40px;
    filter: invert(100%);
}

.request-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px 0px 0px 3px;
    border-color: #154a29;
}

.response-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px 3px 3px 0px;
    border-color: #154a29;
}

.offcanvas {
    min-width: 49svw;
}

.indent-one {
    text-indent: 50px;
}

.indent-two {
    text-indent: 100px;
}

input {
    text-align: center;
}

.request-input {
    border-radius: 5px;
    border: 1px solid rgba(127, 101, 101, 0.253);
    font-family: Arial, sans-serif;
}

.btn-outline-successor {
    font-weight: 700 !important;
    --bs-btn-color: #0bc053;
    border: 1px solid #0bc053 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0bc053;
    --bs-btn-hover-border-color: #0bc053;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0bc053;
    --bs-btn-active-border-color: #0bc053;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0bc053;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0bc053;
    --bs-gradient: none;
}

.btn-successor {
    max-height: 40px;
    font-weight: 700 !important;
    --bs-btn-color: #0bc053;
    border: 1px solid #0bc053 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0bc053;
    --bs-btn-hover-border-color: #0bc053;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0bc053;
    --bs-btn-active-border-color: #0bc053;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0bc053;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0bc053;
    --bs-gradient: none;
}

.line-height {
    line-height: 150%;
    margin-bottom: 0px;
}

.dropdown-item {
    max-width: 30svw;
    overflow: scroll;
}

.adyen-checkout__status {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    margin: 0;
    padding: 32px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d4d9db;
    font-size: 1em;
    color: #00112c;
}

.adyen-checkout__status__icon {
    margin-bottom: 24px;
    opacity: 1;
    transition: opacity .6s ease-out;
}